$navy: #001e38;
$green: #15b78f;
$yellow: #ffc83d;

html {
  background-color: $navy;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 1.2rem;
  color: $green;
  text-align: center;
}

a {
  color: $yellow;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;

  &:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url('../assets/waving-hand-sign.png')
                center/100%
                no-repeat;
    transform: rotate(-20deg);
    animation: wave .75s infinite linear alternate;
  }
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}
